extends layout

block content
  #hero.vcentercontainer
    h1.bottomdivider
      | build 
      span.themecolor#buzzword {{ currentBuzzword }} 
      |  tech
    button.cta Get Involved
  .maincontainer
    #mainexpl.stack.hpadded.msquare.purewhite.cc
      h2.center Blockchain at UCSB
      .divider5
      p.center We empower students to develop distributed systems through education, projects, and industry connections.
    .divider5
    .flexcontainer.horizontal.spaced
      h2 What is blockchain?
      p Blockchains are distributed digital ledgers used to create trust in decentralized systems
    .flexcontainer.horizontal
      .stack
        h3 Who we are
        p We are UCSB students passionate about building the future of distributed systems
      .stack
        h3 What we do
        p Education: We learn everything we can about block chaining, and pass on that knowledge to new members
        p Consulting: We help companies use blockchain to empower their business
        p Projects: We work together to design and build blockchain systems

block scripts
  script(src="/javascripts/index.js")

block styles
  link(rel='stylesheet', href='/stylesheets/home.css')
