extends layout

block content
  #hero.vcentercontainer
    h1 slogan or something
    button.cta Get Involved
  .maincontainer
    .stack.center
      h2.center test
      p We empower students to develop distributed systems through education, projects, and industry connections.
    .flexcontainer.horizontal
      .stack
        h3 Who we are
        p We are UCSB students passionate about building the future of distributed systems
      .stack
        h3 What we do
        p Education: We learn everything we can about block chaining, and pass on that knowledge to new members
        p Consulting: We help companies use blockchain to empower their business
        p Projects: We work together to design and build blockchain systems

block scripts
  script(src="/javascripts/index.js")

block styles
  link(rel='stylesheet', href='/stylesheets/home.css')
