doctype html
html
  head
    title Blockchain @ UCSB
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/gen.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
  body
    nav
      #hamburger
        a(href="#") &#9776;
      .logo.vcentercontainer
        h1 Blockchain at UCSB
      ul.horizontal
        li
          a(href="#") One
        li
          a(href="#") Two
        li
          a(href="#") Three
        li
          a(href="#") Four
    block content
