doctype html
html
  head
    title Blockchain @ UCSB
    link(rel='stylesheet', href='/stylesheets/gen.css')
  body
    nav
      .logo
        h1 Blockchain at UCSB
      ul.horizontal
        li
          a(href="#") One
        li
          a(href="#") Two
        li
          a(href="#") Three
        li
          a(href="#") Four
    block content
