doctype html
html
  head
    title Blockchain @ UCSB
    link(href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet") 
    link(rel='stylesheet', href='/stylesheets/gen.css')
    link(rel='stylesheet', href='/stylesheets/nav.css')
    meta(name="viewport" content="width=device-width")
    block styles
  body
    #app
      nav
        nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
        .logo.vcentercontainer
          h1 Blockchain UCSB
        ul.horizontal.responsivemenu(:class="{ visible: show.mobilenav }")
          nav-hamburger(@togglenav="show.mobilenav=!show.mobilenav")
          li
            a(href="#") About
          li
            a(href="#") Education
          li
            a(href="#") Events
          li
            a(href="#") R&D
          li
            a(href="#") Contact
      
      block content
    script(src="https://unpkg.com/vue")
    script(src="/javascripts/simplecomponents.js")
    block scripts
