a {
  text-decoration: none;
}
button.cta {
  background-color: #e37c1d;
  color: #eeece6;
  border: none;
  padding: 12px;
  font-size: 1.1em;
}
button.cta:hover {
  background-color: #b45d0d;
}
#hero {
  height: 75vh;
  background-color: #ccc;
}
h1 {
  font-size: 2em;
}
#buzzword {
  animation-name: slideout;
  display: inline-block;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@media (max-width: 35em) {
  h1 {
    font-size: 1.5em;
  }
}
@-moz-keyframes slideout {
  90% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
}
@-webkit-keyframes slideout {
  90% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
}
@-o-keyframes slideout {
  90% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
}
@keyframes slideout {
  90% {
    transform: translate(0px, 0px);
    opacity: 1;
  }
  100% {
    transform: translate(0px, 100px);
    opacity: 0;
  }
}
