a {
  text-decoration: none;
}
button.cta {
  background-color: #e37c1d;
  color: #eeece6;
  border: none;
  padding: 12px;
  font-size: 1.1em;
}
button.cta:hover {
  background-color: #b45d0d;
}
#hero {
  height: 75vh;
}
