nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ccc;
}
nav #hamburger {
  display: none;
}
nav a {
  padding: 16px 0px;
}
nav ul {
  display: flex;
  min-width: 50%;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 1;
}
nav ul li a {
  display: block;
  text-align: center;
}
nav #centerhelper {
  display: none;
  visibility: hidden;
}
@media (max-width: 34em) {
  nav ul {
    visibility: hidden;
  }
  nav #hamburger {
    display: block;
    border: 1px solid #000;
  }
  nav #centerhelper {
    display: block;
  }
  nav ul.responsivemenu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
  }
}
