nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: stretch;
  background-color: rgba(0,0,0,0);
  color: #eeece6;
  z-index: 10;
}
nav h1 {
  font-size: 1.3em;
}
nav #hamburger {
  display: none;
}
nav .logo {
  margin: 0px 16px;
}
nav ul {
  display: flex;
  min-width: 50%;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 1;
  transition: background-color 0.1s;
}
nav ul li a {
  display: block;
  text-align: center;
  color: inherit;
  padding: 16px 0px;
}
nav ul li:hover {
  background-color: #eeece6;
  color: #3db5e7;
}
nav .centerhelper {
  display: none;
  visibility: hidden;
  text-align: center;
  padding: 16px 0px;
}
@media (max-width: 44em) {
  nav #hamburger {
    display: flex;
    padding: 0px 8px;
  }
  nav #hamburger svg {
    display: block;
    fill: #eeece6;
  }
  nav .centerhelper {
    display: block;
  }
  nav ul.responsivemenu {
    visibility: hidden;
    display: block;
    position: fixed;
    transform: translate(-50px);
    opacity: 0;
    left: 0;
    top: 0;
    min-width: 0;
    background-color: #070707;
    transition: transform 0.2s, opacity 0.1s;
    height: 100vh;
  }
  nav ul.responsivemenu li > a:not(.centerhelper) {
    padding: 16px 24px;
  }
  nav ul.visible {
    visibility: visible;
    opacity: 1;
    transform: none;
  }
}
