nav {
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: stretch;
  background-color: #ccc;
}
nav #hamburger {
  display: none;
}
nav .logo {
  margin: 0px 16px;
}
nav a {
  padding: 16px 0px;
}
nav ul {
  display: flex;
  min-width: 50%;
  margin: 0;
  padding: 0;
}
nav ul li {
  flex-grow: 1;
}
nav ul li a {
  display: block;
  text-align: center;
}
nav #centerhelper {
  display: none;
  visibility: hidden;
}
nav #mobilehamburger {
  display: none;
}
@media (max-width: 40em) {
  nav #hamburger {
    display: block;
    border: 1px solid #000;
  }
  nav #mobilehamburger {
    display: block;
  }
  nav #centerhelper {
    display: block;
  }
  nav ul.responsivemenu {
    visibility: hidden;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    min-width: 0;
    background-color: #ccc;
    color: #fff;
    height: 100vh;
  }
  nav ul.responsivemenu li a {
    padding: 8px 8px;
  }
  nav ul.visible {
    visibility: visible;
  }
}
