@import colors

body
  color: dark-grey
  margin: 0
  padding: 0
  width: 100%
  font-family: 'Open Sans', sans-serif;

.maincontainer
  width: 100%

a
  text-decoration: none

h1
  margin: 0

ul li
  list-style: none;

.center
  display: table;
  margin: auto;

.vcentercontainer
  display: flex;
  flex-direction: column;
  justify-content: center;

.horizontal
  flex-direction: row;

.invisible
  visibility: hidden;
