nav
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center;

  .logo
    padding: 16px 0px

  #hamburger
    display: none

  ul
    display: flex
    min-width: 50%
    margin: 0
    height: 100%

    li
      flex-grow: 1

      a
        display: block
        text-align: center
        width: 100%

@media (max-width: 34em)
  nav
    ul
      display: none

    #hamburger
      display: block
      border: 1px solid #000
