@import colors

nav
  width: 100%
  display: flex
  position: fixed;
  justify-content: space-between
  align-items: stretch;
  background-color: theme-color;
  color: white-color;

  #hamburger
    display: none

  .logo
    margin: 0px 16px

  ul
    display: flex
    min-width: 50%
    margin: 0
    padding: 0

    li
      flex-grow: 1

      a
        display: block
        text-align: center
        color: inherit;
        padding: 16px 0px

  .centerhelper
    display: none
    visibility: hidden;
    text-align: center;
    padding: 16px 0px;

  #mobilehamburger
    display: none

@media (max-width: 40em)
  nav

    #hamburger
      display: flex;

      img
        display: block;

    #mobilehamburger
      display: flex;

    .centerhelper
      display: block;

    ul.responsivemenu
      visibility: hidden;
      display: block;
      position: fixed;
      left: 0;
      top: 0;
      min-width: 0
      background-color: #ccc;
      color: #fff;
      height: 100vh;

      li > a:not(.centerhelper)
        padding: 8px 8px

    ul.visible
      visibility: visible;
