nav
  width: 100%
  display: flex
  justify-content: space-between
  align-items: stretch;
  background-color: #ccc

  #hamburger
    display: none

  a
    padding: 16px 0px

  ul
    display: flex
    min-width: 50%
    margin: 0

    li
      flex-grow: 1

      a
        display: block
        text-align: center

  #centerhelper
    display: none
    visibility: hidden;

@media (max-width: 34em)
  nav
    ul
      display: none

    #hamburger
      display: block
      border: 1px solid #000

    #centerhelper
      display: block;
